<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  {% load static %}  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <meta http-equiv="refresh" content="5.5; url="/home/" />
</head>
<body BGCOLOR="BLACK">
<div class="container-fluid ">
 <p style="padding:10%;" width="100%" >
 	<img src="{% static 'home/pics/logo_gif.gif' %}"/>
 </p>
	
</div>

</body>
</html>
